/*/ configuração da fonte  - incio/*/

@font-face {
    font-family: He;
    src: url('../fonts/HeadlinerNo45.ttf');
}

/*/ configuração da fonte  - fim/*/

/*/ configuração de todos os objetos - inicio/*/

* {
    font-family: He, 'Segoe UI';
    box-sizing: border-box;
    
}

:not(terceiraParte){
    margin: 0px; 
}

#body {
    margin: 0px;
}

/*/ configuração de todos os objetos - fim/*/

/*/ configuração dos titulos e paragrafos e links - inicio/*/

/*H*/

h1 {
    font-size: 5.5vw;
}

h2 {
    font-size: 5vw;
}

h3 {
    font-size: 4vw;
}

h4 {
    font-size: 3vw;
}

h5 {
    font-size: 2vw;
}

h6 {
    font-size: 1vw;
}



/*P*/

p {
    font-size: 3vw;
}


/*A*/

a {
    color: white;
    font-size: 2.7vw;
    text-decoration: none;
    transition: color, 0.5s;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/*/ configuração dos titulos e paragrafos e links - fim/*/

/*/Input inicio/*/

/*classe entrada de dados*/

.EntradaDeDados {
    display: flex;
}


/*input em si*/

@media screen and (min-width: 800px) {
    input {

        margin: 0px;
        background-color: transparent;
        border-style: none;
        border-bottom: 2px solid;
        border-color: white;


        padding: 8px 2px 0px 2px;
        width: 250px;
        color: black;
        font-size: 45px;
        transition: width 0.2s ease-in, padding 0.5s;
    }

}

@media screen and (max-width: 800px) {
    input {

        margin: 0px;
        background-color: transparent;
        border-style: none;
        border-bottom: 2px solid;
        border-color: white;


        padding: 0px 2px 0px 2px;
        width: 40vw;
        color: black;
        font-size: 45px;
        transition: width 0.2s ease-in, padding 0.5s;
    }

}

/*barra ao lado*/

.input-container span.border {
    content: '';
    display: inline-block;
    width: 2px;
    height: 0px;
    background-color: white;

    transition: height .2s;
}

.input-container input:hover + span {
    height: 3vw;
}

.input-container input:focus + span {
    height: 3vw;
}


/*/input - fim/*/

/*/label - inicio/*/

label {
    font-size: 55pt;
}

/*/label - fim/*/

/*/nav bar - inicio/*/

/**--------*pcs*/

@media screen and (min-width: 800px) {

    nav {
        /*flex do nav*/
        display: flex;
        align-items: center;
        justify-content: center;





        /*outras configurações*/
        background-color: black;
        padding-left: 5vw;
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 500;
        align-items: center;


    }

    nav .links {
        /*flex do nav*/
        flex: 2;

        /*flex dos links*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;

    }


    nav .imagem {
        flex: 0;
        display: flex;
        align-self: center;
        align-items: center;
    }

    nav .imagem a img {
        width: 3.6vw;
    }

    /*não exibir menu secundario*/
    .botaoMobile {
        display: none;
    }
    .tituloMobile {
        display: none;
    }
    .navegacaoMobile {
        display: none;
    }
}


/*--------*mobiles*/

@media screen and (max-width: 800px) {
    /*retirando a navegação de pc*/
    nav {
        display: none;
    }


    /*/////////*configurando a navegação mobile*/
    /*********configuração de visualização do site*/
    /*barra nav*/
    .navegSecun {
        /*flex*/
        display: flex;

        /*outras configs*/
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 200;
    }

    /*botão de exibir o menu*/
    .botaoMobile {
        /*flex*/
        flex: 1;

        /*flex proprio*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*outras configs*/
        background-color: black;
        border: none;


    }
    .botaoMobile img {

        /*outras configs*/
        width: 10vw;

    }


    /*links*/
    .navegacaoMobile {
        display: none;
    }

    /*configuração do X*/
    .botaoEscondedor {
        display: none;
    }

    /*******configuração de visualização da nav (tela cheia)*/
    /*barra nav(tela cheia)*/
    .navegSecun.confgTWO {
        display: flex;
        background-color: black;
        width: 100%;
        height: 100%;
    }

    /*botão de exibir o menu*/
    .botaoMobile.sumiu {
        display: none;
    }


    /*imagem do botaoMobile*/
    .botaoMenu.exibido {
        display: none;
    }

    /*links*/
    .navegacaoMobile.exibido {

        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    /*configuração dos links para a navegação suspensa*/
    a.NavMenu {
        font-size: 10vw;
    }

    /*botão de fechar o menu*/
    .botaoEscondedor {
        margin-top: 4vw;
        margin-left: 0.4%;
        width: auto;

        font-size: 4vw;

        position: fixed;
        left: 70%;

        color: white;
        background-color: transparent;
        border-color: white;
        border-style: dashed;
    }

    /*configuração do X*/
    .botaoEscondedor.exibido {
        display: block;
        font-size: 20vw;
    }

}

/*/nav bar - fim/*/

/*/logan - inicio/*/

/*primeiraParte - inicio*/

#primeiraParte {
    /*flex*/
    display: flex;
    flex-direction: column-reverse;

    /*configuração da imagem*/
    background-image: url(../media/imagem2_5.jpg);
    background-size: 100%;
    background-attachment: fixed;

    /*configuração do fundo em si*/
    width: 100%;
    height: 50vw;
}


#logo {
    flex: 1;
    order: 99;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#primeiraParte #logo img {
    order: 99;
    align-content: flex-end;
    width: 40%;
    height: 40%;
    margin-bottom: 5vw;
    margin-right: 3vw;
    align-items: center;
    justify-content: flex-end;
}

/*/primeiraParte - fim/*/

/*/segundaParte - inicio/*/

#segundaParte {
    background-color: black;

    /*configuração do fundo em si*/
    width: 100%;
    height: 50vw;

    display: flex;


}

#segundaParte #part1 {
    /*flex*/
    align-self: flex-end;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column-reverse;



}

#segundaParte #part1 #img1 {
    /*flex*/
    align-self: flex-end;
    width: 95%;
    height: 95%;
}

#segundaParte #part2 {
    /*flex*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*outras configs*/
    margin-right: 4vw;


}

#segundaParte #part2 #img2 {
    width: 40vw;
}

#segundaParte #part2 #img3 {
    width: 36vw;
}


/*/segundaParte - fim/*/

/*/terceiraParte - inicio/*/

@media screen and (min-width: 800px) {
    #terceiraParte {
        /*flex*/
        display: flex;

        /*outras configs*/
        background-color: white;

        
        
        /*configuração do fundo em si*/
        width: 100%;



    }

    #divimg {
        /*flex do pai*/
        flex: 1;
        /*proprio flex*/
        display: flex;
        flex-direction: row-reverse;
    }

    #terceiraParte img {

        width: 40vw;
        height: 100%;

    }


    #textos {
        /*flex do pai*/
        flex: 2;
        /*prorprio flex*/
        display: flex;
        flex-direction: column;
        
    }

    #tp1 {
        /*flex*/
        flex: 1;

        /*outras configurações*/
        margin-left: 1vw;
        margin-top: 1vw;
    }

    #tp2 {
        /*flex*/
        flex: 1;

        /*proprio flex*/
        display: flex;
        /*outras configurações*/
        align-self: flex-end;
        align-items: center;
        text-align: right;
    }
}

@media screen and (max-width: 800px) {
    #terceiraParte {
        /*flex*/
        display: flex;
        flex-direction: column;
        /*outras configs*/
        background-color: white;
        margin: 5vw;
        /*configuração do fundo em si*/
        width: 100%;



    }

    #divimg {

        /*proprio flex*/
        display: flex;
        flex-direction: row-reverse;
    }

    #terceiraParte img {

        width: 40vw;
        height: 100%;

    }


    #textos {
        /*flex do pai*/
        flex: 2;
        /*prorprio flex*/
        display: flex;
        flex-direction: column;
    }

    #tp1 {
        /*flex*/
        flex: 1;

        /*outras configurações*/
        font-size: 10vw;
    }

    #tp2 {
        /*flex*/
        flex: 1;

        margin: 2vw;
        /*proprio flex*/
        display: flex;
        /*outras configurações*/
        font-size: 8vw;
    }
}

/*/terceiraParte - fim/*/

/*/QuartaParte - inicio/*/

/*configurações gerais de todas as partes - inicio*/

@media screen and (max-width: 800px) {

    #quartaParte {
        /*flex*/
        display: flex;
        flex-direction: column;
    }


    /*configurações gerais de todas as partes - inicio*/
    /*configurações especificas do tipo 1 - inicio*/
    .quat_1 {
        /*proprio flex*/
        display: flex;
        flex-direction: column;

        /*outras configurações*/
        background-color: black;
        color: white;
        min-width: 100%;
        min-height: 50vw;
        padding: 2vw;
    }

    .quat_1_div_img {


        align-self: center;
    }

    .quat_1_div_img img {
        width: 35vw;
    }

    .quat_1_div_txt {
        /*flex do pai*/
        flex: 2;
        align-self: center;

        /*outras configs*/
        text-align: justify;
        padding-right: 2vw;
    }

    .quat_1_div_txt p {
        font-size: 6vw;
    }

    /*configurações especificas do tipo 1 - fim*/
    /*configurações especificas do tipo 2 - inicio*/
    .quat_2 {
        /*proprio flex*/
        display: flex;
        flex-direction: column;

        /*outras configurações*/
        background-color: black;
        color: white;

        min-width: 100%;
        min-height: 50vw;
        padding: 2vw;
    }

    .quat_2_div_img {
        align-self: center;

    }

    .quat_2_div_img img {
        width: 35vw;
    }

    .quat_2_div_txt {
        /*flex do pai*/
        flex: 2;
        align-self: center;

        /*outras configs*/
        text-align: justify;
        padding-right: 2vw;
    }

    .quat_2_div_txt p {
        font-size: 6vw;
    }

    /*configurações especificas do tipo 2 - fim*/
}

@media screen and (min-width: 800px) {

    #quartaParte {
        /*flex*/
        display: flex;
        flex-direction: column;
    }


    /*configurações gerais de todas as partes - inicio*/
    /*configurações especificas do tipo 1 - inicio*/
    .quat_1 {
        /*proprio flex*/
        display: flex;

        /*outras configurações*/
        background-color: black;
        color: white;
        min-width: 100%;
        min-height: 50vw;
        padding: 2vw;
    }

    .quat_1_div_img {


        align-self: center;
    }

    .quat_1_div_img img {
        width: 35vw;
    }

    .quat_1_div_txt {
        /*flex do pai*/
        flex: 2;
        align-self: center;

        /*outras configs*/
        text-align: right;
        padding-right: 2vw;
    }

    .quat_1_div_txt p {
        font-size: 3vw;
    }

    /*configurações especificas do tipo 1 - fim*/
    /*configurações especificas do tipo 2 - inicio*/
    .quat_2 {
        /*proprio flex*/
        display: flex;

        /*outras configurações*/
        background-color: black;
        color: white;

        min-width: 100%;
        min-height: 50vw;
        padding: 2vw;
    }

    .quat_2_div_img {
        align-self: center;

    }

    .quat_2_div_img img {
        width: 35vw;
    }

    .quat_2_div_txt {
        /*flex do pai*/
        flex: 2;
        align-self: center;

        /*outras configs*/
        text-align: left;
        padding-right: 2vw;
    }

    .quat_2_div_txt p {
        font-size: 3vw;
    }

    /*configurações especificas do tipo 2 - fim*/
}

/*/QuartaParte - fim/*/

/*/Quinta Parte - inicio/*/

@media screen and (min-width: 800px) {
    #quintaParte h2 {
        text-align: center;
        margin: 3vw;
    }

    #conteudoQuintaParte {
        /*flex*/
        display: flex;
        flex-direction: column;
    }

    /*ModelOne - inicio*/
    .quintModelOne {
        flex: 1;
        display: flex;
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .quintModelOne img {
        width: 55vw;
        height: 100%;
    }

    .quintModelOne p {
        align-self: flex-end;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    /*ModelOne - fim*/
    /*ModelTwo - inicio*/
    .QuintModelTwo {
        /*flex*/
        flex: 1;
        display: flex;

        /*outras configs*/
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .QuintModelTwo img {
        width: 55vw;
        height: 100%;
    }

    .QuintModelTwo p {
        align-self: flex-end;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    /*ModelTwo - fim*/
    /*Videos - inicio*/
    .QuintVideo {
        /*flex*/
        flex-direction: column;
        /*outras configs*/
        margin: 5vw;
        display: flex;
    }

    .QuintVideo p {
        /*flex*/
        align-self: center;
    }

    .QuintVideo video {
        width: 55vw;
        align-self: center;
    }

    /*Videso - fim*/
}

@media screen and (max-width: 800px) {
    #quintaParte h2 {
        text-align: center;
        margin: 3vw;
    }

    #conteudoQuintaParte {
        /*flex*/
        display: flex;
        flex-direction: column;
    }

    /*ModelOne - inicio*/
    .quintModelOne {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .quintModelOne img {
        width: 90vw;
        height: 100%;
        align-self: center;
    }

    .quintModelOne p {
        align-self: center;
        font-size: 4vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    /*ModelOne - fim*/
    /*ModelTwo - inicio*/
    .QuintModelTwo {
        /*flex*/
        flex: 1;
        display: flex;
        flex-direction: column;

        /*outras configs*/
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .QuintModelTwo img {
        width: 90vw;
        height: 100%;
        align-self: center;
    }

    .QuintModelTwo p {
        font-size: 4vw;
        align-self: center;
        margin-left: 1vw;
        margin-right: 1vw;
        order: 1;
    }

    /*ModelTwo - fim*/
    /*Videos - inicio*/
    .QuintVideo {
        /*flex*/
        flex-direction: column;
        /*outras configs*/
        margin: 5vw;
        display: flex;

    }

    .QuintVideo p {
        /*flex*/
        align-self: center;

        /*outras configs*/
        font-size: 4vw;
    }

    .QuintVideo video {
        width: 90vw;
        height: 100%;
        align-self: center;
    }

    /*Videso - fim*/
}

/*/Quinta Parte - fim/*/

/*/footer - inicio/*/

footer {
    /*flex*/
    display: flex;
    flex-direction: column;

    /*outras configs*/
    background-color: black;
    color: white;

}

footer h1 {
    margin-left: 2vw;
    margin-top: 2vw;
}

.atualisacao {
    margin-top: 5vw;
    margin-left: 5vw;
    height: 100%;
    margin-bottom: 5vw;
}

.EntradaDeDados {
    /*flex proprio*/
    display: flex;

    /*outras configs*/
    flex-direction: column;
}

.EntradaDeDados * {
    color: white;
    font-size: 3vw;
}

.entradaNome {
    /*flex proprio*/
    display: flex;

    /*outras configs*/
    margin-bottom: 6vw;
}

.entradaEmail {
    display: flex;

    margin-bottom: 6vw;
}

.tamnhoEsp {
    font-size: 4vw !important;
}

.BotEnvi {
    /*flex proprio*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /*outras configs*/
    margin-left: 20vw;

}

.BotEnvi button {
    background-color: black;
    color: white;

    margin: 0px;
    border: none;
    padding: 0px;
    height: 3vw;

    font-size: 3.5vw;

    transition: color, 0.3s;
}

.BotEnvi h1 {
    background-color: black;
    color: black;
}

button:hover {
    color: rgba(255, 255, 255, 0.3);
}

.divSpanBtn {
    /**flex do pai*/
    align-self: flex-start;

    /*flex proprio*/
    display: flex;

}

.divSpanBtn span.spanBtn {
    /*flex do pai*/
    align-self: center;

    /*outras configss*/
    content: '';
    display: inline-block;
    width: 6.8vw;
    margin-top: 0.4vw;
    padding: 0.1vw;
    background-color: transparent;


    border: solid;
    border-width: 0.1vw;
    border-top: none;
}

/*/footer - fim/*/
